
<%= form_for @user do |u| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  User name: <%= u.text_field :username %><br />
  Email : <%= u.email_field :email %><br />
  Password : <%= u.password_field :password %><br />
  <%= u.submit %>
<% end %>